.landing {
    min-height: 100vh;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.landing-left {
    padding: 20px;
}

.landing-right {
    background-color: #555555;
}

.landing-slogan {
    font-size: 45px;
    line-height: 48px;
    font-family: Kreon;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0;
}

.landing-date {
    font-family: 'Titillium Web', sans-serif;
    color:  #383838;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

.landing-venue {
    font-family: 'Titillium Web', sans-serif;
    color:  #59c5d1;
    font-size: 30px;
    line-height: 27px;
    font-weight: 600;
    text-align: center;
}

.landing-venue a {
    display: inline-block;
    padding-bottom: 3px;
    color:  #59c5d1;
    text-decoration: none;
    border-bottom: 1px solid #59c5d1;
    transition: all 0.3s linear;
}

.landing-venue a:hover {
    color:  #294bb7;
    border-bottom: 1px solid #294bb7;
}

.landing-register {
    display: inline-block;
    margin: 0 auto;
    margin-top: 50px;
    padding: 7px 15px;
    border-width: 1px;
    border-color:  #000000;
    border-style: solid;
    font-family: 'Titillium Web', sans-serif;
    color:  #000000;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s linear;
}

.landing-register:hover {
    background-color:  #000000;
    color: #fff;
}

.filler-height {
    min-height: 40vh;
    overflow: auto;
    position: relative;
}

.landing-right {
    margin: 20px 0;
    background-image: url('../img/techpark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 0;
    padding-right: 0;
}

.bg-overlay {
    background-color:  rgba(39, 53, 84, 0.6);
    width: 100%;
    min-height: calc(100vh - 40px);
}

.section-bg {
    color:  rgba(56, 46, 135, 0.501961);
    font-size: 130px;
    font-weight: 700;
}


.section-title {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.section-title .text {
  font: 130px sans-serif;
  margin-top: 30px;
  text-align: left;
  font-weight: 900;
  text-transform: uppercase;
}

.section-title .text {
  display: table;
  white-space: nowrap;
}

.section-title.left-title .text:after {
  border-top: 2px solid rgba(56, 46, 135, 0.501961);
  content: '';
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 100%;
}

.section-title .text:before {
  right: 1.5%;
}

.section-title .text:after {
  left: 1.5%;
}

.section-title.right-title .text:before {
  border-top: 2px solid rgba(56, 46, 135, 0.501961);
  content: '';
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 100%;
}

.about {
    background-color: #22242e;
    color: #2d295a;
    font-size: 130pt;
    position: relative;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 50px;
    padding-bottom: 100px;
}

.about .about-text {
    margin-top: 90px;
    padding: 20px;
    font-family: 'Titillium Web', sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.about .about-text .title {
    font-size: 24px;
    font-weight: 600;
}

.about .about-text .sub-title {
    font-size: 22px;
    font-weight: 300;
}








.agenda {
    position: relative;
    background-color: #ffffff;
    color: rgba(249, 167, 32, 0.501961);
}

.agenda .section-title .text {
  color: rgba(249, 167, 32, 0.501961);
}

.agenda .section-title.left-title .text:after,
.agenda .section-title.right-title .text:before  {
  border-top: 2px solid rgba(249, 167, 32, 0.501961);
}


.agenda-content {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 150px;
    padding-bottom: 100px;
    font-family: 'Titillium Web', sans-serif;
}

.agenda-content .date {
    text-align: center;
    width: 100%;
}

.agenda-content .date .num {
    color:  #494949;
    font-size: 28px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.agenda-content .date .month {
    color:  #494949;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.line-bg {
    position: absolute;
    left: 50%;
    top: 50px;
    height: calc(100% - 20px);
    border-left: 1px solid #959595;
}

.line-bg-horizontal {
    position: absolute;
    left: 50%;
    bottom: -30px;
    width: 50px;
    margin-left: -25px;
    border-bottom: 1px solid #959595;
}

.day-wrap {
    position: relative;
    margin-top: 80px;
}

.agenda-event {
    flex: 1;
}

.agenda-event.left {
    text-align: right;
}

.agenda-event.right {
    text-align: left;
}

.agenda-content .day-wrap>.row {
    margin-bottom: 20px;
    margin-top: 20px;
}

.agenda-event .name {
    color:  #000000;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
}

.agenda-event .time {
    padding-left: 5px;
    padding-right: 5px;
    color:  #df363d;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.event-marker {
    width: 50px;
    text-align: center;
}

.event-marker .circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    margin-left: -15px;
}


.event-marker .circle.yellow {
    background-color:  #f99300;
}

.event-marker .circle.red {
    background-color:  #df363d;
}

.event-marker .circle.cyan {
    background-color:  #59c5d1;
}

.event-marker .circle.violet {
    background-color:  #382d86;
}

.event-marker .circle.blue {
    background-color:  #294ab7;
}





.team {
    background-color: #f0f0f0;
    color: #8c9dd3;
}

.team .section-title .text {
  color: rgba(41, 75, 183, 0.501961);
}

.team .section-title.left-title .text:after,
.team .section-title.right-title .text:before  {
    border-top: none;
}


.speakers {
    background-color: #f9f9f9;
}

.speakers .section-title .text {
  color: #efadaf;
}

.speakers .section-title.left-title .text:after,
.speakers .section-title.right-title .text:before  {
    border-top: none;
}

.partners {
    background-color: #ffffff;
    color: #abe2e8;
}

.partners .section-title .text {
  color: rgba(88, 197, 209, 0.501961);
}

.partners .section-title.left-title .text:after,
.partners .section-title.right-title .text:before  {
    border-top: 2px solid rgba(88, 197, 209, 0.501961);

}


.register {
    padding-top: 50px;
    padding-bottom: 100px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}

.register-slogan {
    color:  #000000;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
}

.register-slogan-sub {
    font-size: 40px;
    font-weight: 300;
    line-height: 54px;
    text-align: center;
}

.register-slogan-sub .yellow {
    color:  #f99300;
}

.register-slogan-sub .red {
    color:  #df363d;
}

.register-slogan-sub .cyan {
    color:  #59c5d1;
}

.register-slogan-sub .blue {
    color:  #294bb7;
}

.register .register-btn {
    display: inline-block;
    margin: 0 auto;
    margin-top: 50px;
    padding: 7px 15px;
    border-width: 1px;
    border-color:  #000000;
    border-style: solid;
    font-family: 'Titillium Web', sans-serif;
    color:  #000000;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s linear;
}

.register .register-btn:hover {
    background-color:  #000000;
    color: #fff;
}













.team-wrap {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 50px;
    padding-bottom: 100px;
}

.carousel-wrap {
    margin-top: 75px;
}

.team-member {
    background-color: transparent;
    height: 250px;
    position: relative;
}

.team-member .name-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
}


.team-member .name-wrap-o {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}


.team-member .name-wrap .name {
    padding-left: 15px;
    padding-top: 10px;
    font-family: 'Titillium Web', sans-serif;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.team-member .name-wrap .desc {
    padding-left: 15px;
    padding-bottom: 10px;
    font-family: 'Titillium Web', sans-serif;
    color:  #474747;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
}


.team-member .overlay-text {
    position: absolute;
    width: 100%;
    height: 0;
    background-color: #000;
    color: transparent;
    transition: all 0.3s ease-in-out;
}


.team-member .overlay-text .text {
    padding: 30px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}

.team-member:hover .overlay-text {
    display: block;
    height: 100%;
    color: #fff;
    cursor: pointer;
}










.flip-container {
    perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
    height: 250px;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
    transform: rotateY(180deg);
}
